.kGODbI {
  background: linear-gradient(45deg, #ffbc39 18%, #e35f00 100%) !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.35) !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-style: none !important;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-top-width: 1px !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-family: Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  -webkit-letter-spacing: 0px !important;
  -moz-letter-spacing: 0px !important;
  -ms-letter-spacing: 0px !important;
  letter-spacing: 0px !important;
  line-height: 1 !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  max-width: 100% !important;
  padding-bottom: 14px !important;
  padding-left: 18px !important;
  padding-right: 18px !important;
  padding-top: 14px !important;
  text-transform: none !important;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  font-style: normal !important;
  width: 100% !important;
  cursor: pointer;
} /*!sc*/
.kGODbI.withIcon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
} /*!sc*/
.kGODbI.withIcon:focus,
.kGODbI.withIcon:hover,
.kGODbI.withIcon.is-editing-hover {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
} /*!sc*/
.kGODbI .dowell-yes-icon--Zharpqe0B8OIeFf2Hstx {
  color: #ffffff !important;
  margin-right: NaNpx !important;
} /*!sc*/
.kGODbI .dowell-hover-yes-icon--Zharpqe0B8OIeFf2Hstx {
  display: none !important;
  color: #ffffff !important;
  margin-right: NaNpx !important;
} /*!sc*/
.kGODbI:focus,
.kGODbI:hover,
.kGODbI.is-editing-hover {
  background: linear-gradient(
    45deg,
    rgba(255, 188, 57, 0.9) 18%,
    rgba(227, 95, 0, 0.9) 100%
  ) !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-family: Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  -webkit-letter-spacing: 0px !important;
  -moz-letter-spacing: 0px !important;
  -ms-letter-spacing: 0px !important;
  letter-spacing: 0px !important;
  line-height: 1 !important;
  text-transform: none !important;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  font-style: normal !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.35) !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-style: none !important;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-top-width: 1px !important;
} /*!sc*/
.kGODbI:focus .dowell-hover-yes-icon--Zharpqe0B8OIeFf2Hstx,
.kGODbI:hover .dowell-hover-yes-icon--Zharpqe0B8OIeFf2Hstx,
.kGODbI.is-editing-hover .dowell-hover-yes-icon--Zharpqe0B8OIeFf2Hstx {
  display: inline-block !important;
} /*!sc*/
.kGODbI:focus .dowell-yes-icon--Zharpqe0B8OIeFf2Hstx,
.kGODbI:hover .dowell-yes-icon--Zharpqe0B8OIeFf2Hstx,
.kGODbI.is-editing-hover .dowell-yes-icon--Zharpqe0B8OIeFf2Hstx {
  display: none !important;
} /*!sc*/
.kINyyS {
  background: transparent !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-width: 0px !important;
  border-color: rgba(0, 0, 0, 0.35) !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-style: solid !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-width: 0px !important;
  box-shadow: 0px 0px 0px 0px #ffffff !important;
  color: #696983 !important;
  font-family: Verdana, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  -webkit-letter-spacing: 0 !important;
  -moz-letter-spacing: 0 !important;
  -ms-letter-spacing: 0 !important;
  letter-spacing: 0 !important;
  line-height: 1 !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  max-width: 100% !important;
  padding-bottom: 8px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-top: 8px !important;
  text-transform: none !important;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  font-style: normal !important;
  width: 100% !important;
  cursor: pointer;
} /*!sc*/
.kINyyS.withIcon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
} /*!sc*/
.kINyyS.withIcon:focus,
.kINyyS.withIcon:hover,
.kINyyS.withIcon.is-editing-hover {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
} /*!sc*/
.kINyyS .dowell-no-icon--Zharpqe0B8OIeFf2Hstx {
  color: #696983 !important;
  margin-right: NaNpx !important;
} /*!sc*/
.kINyyS .dowell-hover-no-icon--Zharpqe0B8OIeFf2Hstx {
  display: none !important;
  color: #ffffff !important;
  margin-right: NaNpx !important;
} /*!sc*/
.kINyyS:focus,
.kINyyS:hover,
.kINyyS.is-editing-hover {
  background: transparent !important;
} /*!sc*/
.kINyyS:focus .dowell-hover-no-icon--Zharpqe0B8OIeFf2Hstx,
.kINyyS:hover .dowell-hover-no-icon--Zharpqe0B8OIeFf2Hstx,
.kINyyS.is-editing-hover .dowell-hover-no-icon--Zharpqe0B8OIeFf2Hstx {
  display: inline-block !important;
} /*!sc*/
.kINyyS:focus .dowell-no-icon--Zharpqe0B8OIeFf2Hstx,
.kINyyS:hover .dowell-no-icon--Zharpqe0B8OIeFf2Hstx,
.kINyyS.is-editing-hover .dowell-no-icon--Zharpqe0B8OIeFf2Hstx {
  display: inline-block !important;
} /*!sc*/
data-styled.g1[id="StyledIconButtonElement-sc-114x20d-0"] {
  content: "kGODbI,kINyyS,";
} /*!sc*/
.gmsXlw {
  background: #ffffff;
} /*!sc*/
.iHarVC {
  background: rgba(255, 255, 255, 0);
} /*!sc*/
.hVluvJ {
  background: transparent;
} /*!sc*/
.kSVaIS {
  background: linear-gradient(
    62deg,
    rgba(105, 105, 131, 0.1) 0%,
    rgba(142, 142, 165, 0.1) 100%
  );
} /*!sc*/
data-styled.g2[id="StyledBackgroundWrapper__BackgroundWrapper-sc-4136c0-0"] {
  content: "gmsXlw,brbwAg,iHarVC,hVluvJ,kSVaIS,";
} /*!sc*/
.bdDEKG .ModalV2__Content--header {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  line-height: 1;
  padding: 10px 10px 10px 20px;
  width: 100%;
} /*!sc*/
.bdDEKG .ModalV2__Content--header-close {
  color: #9fb5da;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
} /*!sc*/
.bdDEKG .ModalV2__Content--content {
  height: 100%;
  overflow: auto;
  padding: 0 50px 50px;
  width: 100%;
} /*!sc*/
.bdDEKG .ModalV2__Content {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 18px 6px rgba(35, 48, 70, 0.25);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 650px;
  outline: none;
  overflow: auto;
  width: 100%;
} /*!sc*/
.bdDEKG .ModalV2__Content p {
  line-height: 1.4;
} /*!sc*/
.bdDEKG .ModalV2__Content p a {
  color: #0d82df;
  font-weight: bold;
  -webkit-text-decoration: underline;
  text-decoration: underline;
} /*!sc*/
.bdDEKG .ModalV2__Overlay {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1010;
} /*!sc*/
data-styled.g79[id="ModalV2__StyledModal-sc-1yn120z-0"] {
  content: "bdDEKG,";
} /*!sc*/
.paETm * {
  box-sizing: border-box;
} /*!sc*/
.paETm .ModalV2__Content--header {
  height: 60px;
  padding: 20px 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
} /*!sc*/
.paETm .ModalV2__Content--header-content {
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
} /*!sc*/
.paETm .ModalV2__Content--header-content svg {
  margin-right: 8px;
} /*!sc*/
.paETm .ModalV2__Content--header-close {
  background-color: transparent;
  border: none;
  padding: 0px;
} /*!sc*/
.paETm .ModalV2__Content--header-close svg {
  width: 14px;
  height: 14px;
} /*!sc*/
.paETm .ModalV2__Content--content {
  padding: 20px 40px;
} /*!sc*/
.paETm .ModalV2__Content {
  max-width: 570px;
  max-height: 80%;
} /*!sc*/
.gNQvvM * {
  box-sizing: border-box;
} /*!sc*/
.gNQvvM .ModalV2__Content--header {
  height: 60px;
  padding: 20px 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
} /*!sc*/
.gNQvvM .ModalV2__Content--header-content {
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
} /*!sc*/
.gNQvvM .ModalV2__Content--header-content svg {
  margin-right: 8px;
} /*!sc*/
.gNQvvM .ModalV2__Content--header-close {
  background-color: transparent;
  border: none;
  padding: 0px;
} /*!sc*/
.gNQvvM .ModalV2__Content--header-close svg {
  width: 14px;
  height: 14px;
} /*!sc*/
.gNQvvM .ModalV2__Content--content {
  padding: 20px 40px;
} /*!sc*/
.gNQvvM .ModalV2__Content {
  max-width: 800px;
  max-height: 80%;
} /*!sc*/
data-styled.g80[id="Modal__StyledModal-sc-1vmqztf-0"] {
  content: "paETm,gNQvvM,";
} /*!sc*/
.fkgMeR * {
  box-sizing: border-box;
} /*!sc*/
.fkgMeR .ModalV2__Content--header {
  height: 40px;
  padding: 20px 20px 10px 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
} /*!sc*/
.fkgMeR .ModalV2__Content--header-close {
  background-color: transparent;
  border: none;
  padding: 0px;
} /*!sc*/
.fkgMeR .ModalV2__Content--header-close svg {
  width: 14px;
  height: 14px;
} /*!sc*/
.fkgMeR .ModalV2__Content--content {
  padding: 0 60px 40px 60px;
} /*!sc*/
.fkgMeR .ModalV2__Content {
  max-height: 80%;
  max-width: 570px;
  min-width: 500px;
  width: 570px;
} /*!sc*/
.daFbDN * {
  box-sizing: border-box;
} /*!sc*/
.daFbDN .ModalV2__Content--header {
  height: 40px;
  padding: 20px 20px 10px 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
} /*!sc*/
.daFbDN .ModalV2__Content--header-close {
  background-color: transparent;
  border: none;
  padding: 0px;
} /*!sc*/
.daFbDN .ModalV2__Content--header-close svg {
  width: 14px;
  height: 14px;
} /*!sc*/
.daFbDN .ModalV2__Content--content {
  padding: 0 60px 40px 60px;
} /*!sc*/
.daFbDN .ModalV2__Content {
  max-height: 80%;
  max-width: 800px;
  min-width: 500px;
  width: 800px;
} /*!sc*/
data-styled.g81[id="WhiteModal__StyledModal-sc-147xomf-0"] {
  content: "fkgMeR,daFbDN,";
} /*!sc*/
.blxvXh {
  position: absolute !important;
  cursor: pointer !important;
  z-index: 1110 !important;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.45) !important;
  padding-top: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  margin-top: 25px !important;
  margin-right: 25px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  color: #ffb905 !important;
  border-radius: 100% !important;
  box-shadow: 0px 0px 0px 0px #33333 !important;
  min-width: auto !important;
} /*!sc*/
.blxvXh:hover,
.blxvXh.is-editing-hover {
  border: none !important;
  background-color: rgba(255, 255, 255, 0.85) !important;
  color: #6e66ed !important;
} /*!sc*/
.blxvXh svg {
  fill: inherit !important;
} /*!sc*/
data-styled.g382[id="CloseButton__ButtonElement-sc-79mh24-0"] {
  content: "blxvXh,";
} /*!sc*/
.gWmuIY {
  position: relative;
} /*!sc*/
.gWmuIY .Row__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
} /*!sc*/
data-styled.g593[id="Row__StyledRow-sc-3p43ya-0"] {
  content: "gWmuIY,";
} /*!sc*/
